.jumbotron {
	/*  Background fallback in case of IE8 & down, or in case the image doesn't load, such as with slower connections  */
	background-image: url("/images/banner-bg.jpg"); 
	font-family: Serif, Monospace;
	height: 230px;
	width: auto;
	opacity: 1;
}

h1{
	color: #ffffff;
	font-weight: bold;
	padding-top: 35px;
	font-family: 'Roboto Slab', serif;
	float: left;
}
h5{
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	float: left;
}